@using MyRoots.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<link rel="stylesheet" type="text/css" href="~/Content/login.css" />

<section class="loginform">
    <div class="container-fluid">
        <div class="col-lg-3 text-center form-container">
            <div class="col-lg-12">
                <img class="img-responsive logos" src="~/Content/img/myroots.png" />
                <div class="col-lg-12">
                    <h1 class="signup">Zarejestruj się w MyRoots</h1>
                </div>
            
            <div class="col-lg-12 form-container-inputs">
                    <div class="col-md-12">
                        <section id="loginForm" class="text-center">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label lblwidth" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label lblwidth" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label lblwidth" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label lblwidth" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })                                   
                                  </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label lblwidth" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Register" class="btn btn-default" />
                                    </div>
                                </div>
                              
                                @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                            }
                        </section>
                    </div>

                </div>
            </div>
        </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


